.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: $accentColour;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section {
  padding: 30px 0;
}