//fonts
$primaryFont: "Lato", sans-serif;
$secondaryFont: "Playfair Display SC", serif;
$baseFontSize: 1rem;

//colours
$primary: #2c2c2c;
$secondary: #0c5f4c;
$tertiary: #063974;
$quaternary: #fafffe;
$quinary: #d2f9f1;
$accent: #50e3c2;
