.contactPage {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsNav {
  width: 70%;
  margin: 0 auto;


  a {
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }


}