header {
  background-color: $backgroundColour;
  padding: 20px 0;
  height: 100vh;
  background-image: url('../../../../assets/image1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(85%);

  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    position: relative;
    z-index: 10;
  }

}