header {
  background-color: $backgroundColour;
  padding: 20px 0;
  height: 100vh;

  .subHeading {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
}