header {
  background-color: $backgroundColour;
  height: 100vh;
  background-image: url('../../../../assets/grey.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid #0a0908;
  // filter: grayscale(0.5);

  .banner {
    background: linear-gradient(to bottom, #0a0908 50%, #212529 100%);
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  .headerNav {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .socialsNav {
    margin-top: 60vh;
  }


}