@media (max-width: 650px) {
  a {
    font-size: 0.8rem;
  }

  header {
    .headerNav {
      width: 100%;
    }

    .subHeading {
      height: 60vh;

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}


@media (max-width: 450px) {
  a {
    font-size: 0.7rem;
  }
}