@media (max-width: 650px) {


  a {
    font-size: 0.8rem;
  }

  header {
    .headerNav {
      width: 100%;
    }

    .subHeading {
      h2 {
        font-size: 2rem;
      }
    }

    .socialsNav {
      margin-top: 13vh;
      width: 100%;
    }
  }
}


@media (max-width: 450px) {


  a {
    font-size: 0.7rem;
  }
}