@media (max-width: 1025px) {

  //about section
  .about {
    .aboutContainer {
      flex-direction: column;

      .imgContainer {
        width: 100%;
        margin-bottom: 20px;
      }

      .textContainer {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
      }


    }
  }
}

@media (max-width: 650px) {

  a {
    font-size: 0.8rem;
  }

  header {
    .headerNav {
      width: 100%;
    }

    .subHeading {
      height: 60vh;

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}


@media (max-width: 450px) {
  a {
    font-size: 0.7rem;
  }
}