.music {

  h2 {
    color: #212529;
    text-align: center;
    margin-bottom: 60px;
  }

  .iframeContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      width: 595px;
      height: 595px;

    }
  }
}