.videoGallery {
  position: relative;
  background-image: url('../../../../assets/smoke.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

.slider {
  width: 60%;
  width: 60%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  width: 100%;
  width: 100%;
  height: 450px;
  position: absolute;
  transition: all 0.5s;
}

.slide iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  transform: scale(1.1);
}

.btnPrev {
  top: 55%;
  left: 13%;
}

.btnNext {
  top: 55%;
  right: 15%;
}

.fa-solid {
  color: black !important;
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
}

h3 {
  background-color: #fff;
}