html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 2.4px;
  position: relative;
}

h1,
h2,
h3,
h4,
p,
a,
input {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -5px;
  text-align: center;
  padding: 30px 0 50px 0;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h2 {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
a:hover, a:focus {
  color: #023e7d;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  padding: 30px 0;
}

header {
  background-color: #212529;
  min-height: 90vh;
  background-image: url("../../../../assets/grey.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
header .banner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0a0908), to(#212529));
  background: linear-gradient(to bottom, #0a0908 50%, #212529 100%);
  border-bottom: 2px solid #fff;
}
header .navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}
header .headerNav {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
}
header .subHeading {
  margin-top: 25vh;
}
header .subHeading h2 {
  letter-spacing: -1px;
  font-size: 2.8rem;
  font-family: "Jost", sans-serif;
}
header .socialsNav {
  margin-top: 20vh;
}

.videoGallery {
  position: relative;
}

.slider {
  width: 100%;
  max-width: 750px;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  width: 100%;
  max-width: 750px;
  width: 100%;
  height: 450px;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  position: absolute;
  width: 45px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background: none;
  background-color: #fff;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btnPrev {
  top: 45%;
  left: 13%;
}

.btnNext {
  top: 45%;
  right: 15%;
}

h3 {
  background-color: #fff;
}

.contactPage {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialsNav {
  width: 70%;
  margin: 0 auto;
}
.socialsNav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.socialsNav a {
  font-size: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  vertical-align: middle;
}
.socialsNav a i {
  padding-left: 3px;
}

@media (max-width: 650px) {
  a {
    font-size: 0.8rem;
  }
  header .headerNav {
    width: 100%;
  }
  header .subHeading h2 {
    font-size: 2rem;
  }
  header .socialsNav {
    margin-top: 13vh;
    width: 100%;
  }
}
@media (max-width: 450px) {
  a {
    font-size: 0.7rem;
  }
}